{% block content %}
    <style>

          h5 {
            font-size: 80px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            text-align: center;
            color: darkgray;
          }
          p {
            font-size: 30px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            text-align: center;
            color: black;
          }

    </style>
    <h5 class="card-title" id="card_title">Chef Navigator</h5>
<p>Here you can add your recipes</p>

<form method="post" class="needs-validation align-items-center d-flex align-items-start flex-column bd-highlight mb-3" novalidate>
    <h2> {{ post.title }}</h2>
    <div class="post-content">
        <li>
            {{ post.ingredients }}
        </li>

        <p>
            {{ post.description }}
        </p>
        <small>

            By {{ post.user.name }} on {{ post.created_at }}
        </small>
    </div>
</form>

{% endblock %}