{% extends "base.html" %}

{% block content %}
    <style>

          h5 {
            font-size: 60px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            text-align: center;
            color: darkgray;
          }

          p {
            font-size: 30px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            text-align: center;
            color: #f10a0a;

          }

          form {
              justify-content: center;
              margin: -25px 0 0 -25px;
          }

      </style>
<div class="card bg-dark">
<div class="all">
    <img src="{{ url_for('static', filename='hunger_games.jpeg') }}" class="card-img" alt="..."  height="664">
    <div class="card-img-overlay">
    <h5 class="card-title">Welcome to Chef Navigator</h5>
    <p>Create a Cookbook</p>

    <form method="post" action="/sign_up" class="form-inline my-2 my-lg-0">
        {{ form.csrf_token }}
  <div class="form-row align-items-center d-flex align-items-start flex-column bd-highlight mb-3">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Username</label>
      <input name="name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Username">
    </div>
      <div class="col-auto">
      <label class="sr-only" for="exampleFormControlInput1">Email address</label>
      <input name="email" type="email" class="form-control mb-2" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="col-auto">
       <label for="inputPassword2" class="sr-only">Password</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
        </div>
        <input name="password" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password">
      </div>
    </div>
      <div class="col-auto">
       <label for="inputPassword2" class="sr-only">Confirm Password</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
        </div>
        <input name="confirm" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Confirm Password">
      </div>
    </div>
{#    <div class="col-auto text-dark">#}
{#      <div class="form-check mb-2">#}
{#        <input class="form-check-input" type="checkbox" id="autoSizingCheck">#}
{#        <label class="form-check-label" for="autoSizingCheck">#}
{#          Remember me#}
{#        </label>#}
{#      </div>#}
{#    </div>#}
    <div class="col-auto">
      <button type="submit" class="btn btn-dark mb-2">Creat a Cookbook</button>
    </div>
  </div>
</form>
</div>

{% endblock %}